body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto';
    overflow: hidden; /* prevent any unwanted overflow */
    white-space: nowrap;
}

.header {
    background-color: #DDDAD9;
    width: 100%; /* take the full width */
    display: flex;
    flex-direction: row;
    height: 50px;
}

.goBackCustomerSearchButton {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px; /* Space around the image */
}

.goBackCustomerSearchButton img {
    width: 30px; /* Set a size for the images */
    height: 30px;
}

.goBackCustomerSearchButton:hover {
    background-color: #d0d0d0;  /* Slightly darker background on hover for feedback */
}

#customerNameDisplay {
    margin: 0; /* Remove default margin */
    padding-left: 20px;
    padding-top: 6px;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
    /* Any other specific styles you want for the title */
}

.main-customer-details-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%; /* take the full width */
    background-color: white;
}

.top-customer-details-section {
    display: flex;
    flex: 50%;
    flex-direction: row;
}

.bottom-customer-details-section {
    display: flex;
    flex: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-information-section {
    background-color: white;
    display: flex;
    flex: 45%;
    flex-direction: column; 
}

.customer-sales-analysis-section {
    display: flex;
    flex-direction: column;
    flex: 55%
}

.customer-details-section {
    display: flex;
    flex: 50%;
    padding-left: 40px;
}

.customer-business-number {
    display: flex;
    flex: 50%;
    margin-left: 30px;
    margin-right: 30px;
}

.toggle-buttons{
    display:flex;
    margin-left: 5%;
    margin-top: 2%;
}

/* Reset the positioning of your controls */
.order-status-toggle-buttons, 
.sort-container {
    position: static;
}

/* Style for the main wrapper */
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

/* Style for the controls container */
.controls-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
}

.toggle-button, .all-order-button, .purchased-order-button, .returned-order-button {
    padding: 5px, 5px;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    cursor: pointer;
    background-color: #D9D9D9;
    border: 1px solide #D9D9D9;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 5px; 
}

.toggle-button.active, .all-order-button.active, .purchased-order-button.active, .returned-order-button.active {
    background-color:#C1C1C1;
    font-size: 16px;
    font-weight: bold;
}

.toggle-button:last-child {
    margin-right: 0;
}

.content-section {
    display: none;
}

.content-section.active-content {
    display: block;
}


.detail-label-text {
    font-size: 18px;
    font-weight: bold;

}

.detail-value-text{
    background-color: #d9d9d9;
    border-radius: 8px;
    padding: 2px 4px;
    font-size: 18px;
}

.active-status-text {
    background-color: rgba(22, 192, 152, 0.38);
    border-radius: 8px;
    padding: 2px 4px; 
    font-size: 18px;
}

.inactive-status-text {
    background-color: #FFC5C5;
    border-radius: 8px;
    padding: 2px 4px; 
    font-size: 18px;
}

.customer-detail-text {
    margin-bottom: 8px;;
}

/* Base table styling */
#company-info {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

#company-info td {
    padding: 10px 15px;
    border: 1px solid #e0e0e0; /* Light gray border */
    vertical-align: middle;
}

/* Header and Row Styling */
.customer-business-number-row:nth-child(odd) {
    background-color: #f7f7f7; /* Light gray background for alternate rows */
}

.customer-business-number-row:nth-child(even) {
    background-color: #ffffff; /* White background for other rows */
}

.customer-business-number-row:hover {
    background-color: #e0ffe0; /* A very light green background on hover */
}

/* Label and Value Styling */
#company-info td:first-child {
    font-weight: bold;
    color: #555; /* Dark gray color for labels */
}

.info-value {
    color: #009966; /* Green color for values */
    font-weight: normal;
}

/* If you have a table header, you can style it like this */
#company-info thead {
    background-color: #009966; /* Green background for header */
}

#company-info thead th {
    color: #ffffff; /* White text for header cells */
    padding: 15px;
    font-weight: bold;
}

/* Base table styling */
table {
    max-width: 80%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-left: 40px;
    margin-right: 40px;
    overflow-x: scroll;
    overflow-y: auto;
}

table td, table th {
    padding: 10px 15px;
    border: 1px solid #e0e0e0; /* Light gray border */
    vertical-align: middle;
}

/* Header Styling */
table thead {
    background-color:#66cc99;  /* Green background for header */
}

/* Styling for the table title */
h2 {
    font-family: Arial, sans-serif;
    color: #009966; /* Same green used for values in the previous table */
    margin-bottom: 10px;  /* Adds some space between the title and the table */
    text-align: center;
}

table thead th {
    color: #ffffff; /* White text for header cells */
    font-weight: bold;
}

/* Row Styling */
table tbody tr:nth-child(odd) {
    background-color: #f7f7f7; /* Light gray background for alternate rows */
}

table tbody tr:nth-child(even) {
    background-color: #ffffff; /* White background for other rows */
}

table tbody tr:hover {
    background-color: #e0ffe0; /* A very light green background on hover */
}

table td:first-child { 
    font-weight: bold;
}

.contacts-table {
    margin-top: 20px;
    height: 250px;
    width: 600px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.contacts-table-unique td, .contacts-table-unique th {
    overflow: hidden;         /* Ensures content doesn't overflow the cell */
    text-overflow: ellipsis;  /* Shows '...' for overflowing content */
    white-space: nowrap;      /* Prevents text from wrapping to the next line */
}

#order-history-section, #purchased-history-section, #returned-history-section {
    margin: 20px;
    width: 90%;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: auto;
}

.order-history-table td, .order-history-table th, .purchased-history-table td, .purchased-history-table th, .returned-history-table td, .returned-history-table th{
    overflow: hidden;         
    text-overflow: ellipsis;  
    white-space: nowrap;     
}


.completed-button, .cancelled-button, .delivered-button, .received-button {
    border: none;
    padding: 5px 10px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    cursor: not-allowed; /* This makes the button unclickable */
}

.completed-button {
    background-color: rgba(22, 192, 152, 0.38);
    color: #00B087;
}

.cancelled-button {
    background-color: lightgrey;
    color: grey;
}

.delivered-button {
    background-color: rgba(100, 149, 237, 0.38);  
    color: #6495ED;  
}

.received-button {
    background-color: rgba(147, 112, 219, 0.38);  
    color: #9370DB; 
}

.date-selection {
    margin-top: 20px;
}

#sortToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em; 
}
