body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto';
    overflow: hidden; /* prevent any unwanted overflow */
    white-space: nowrap;
}

.contents {
    background-color: #F5F5F5;
    width: 100%; /* take the full width */
    display: flex;
    flex-direction: row;
    flex: 9.7; /* 97% */
}

