.content-product-table-page {
    display: flex;
    margin-top: 40px;
    margin-left: 80px;
    overflow-y: auto;
    overflow-x: scroll;
    max-width: 1200px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #D9D7D6;
    padding: 8px;
    padding-right: 60px;
    text-align: left;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

th {
    background-color: #F5F5F5;
    font-weight: bold;
}

.table-container {
    margin-left:20px;
    max-height: 400px;
    max-width: 60%;
    overflow-y:scroll;
    overflow-x:auto;
}

#addButton {
    display: block;
    margin: auto;
    padding: 10px 20px;
    border: none;
    background-color: #F5F5F5; /* Change color to your preference */
    cursor: pointer;
}

#addIcon {
    width: 10px;  /* Or whatever size you desire */
    height: auto; /* Maintain aspect ratio */
}

.available-button, .unavailable-button {
    border: none;
    padding: 5px 10px;
    width: 120px;
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    cursor: not-allowed; /* This makes the button unclickable */
}

.available-button {
    background-color: rgba(22, 192, 152, 0.38);
    color: #00B087;
}

.unavailable-button {
    background-color: #FFC5C5;
    color: #DF0404;
}