body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto';
    overflow: hidden; /* prevent any unwanted overflow */
    white-space: nowrap;
}

.header {
    background-color: #DDDAD9;
    width: 100%; /* take the full width */
    display: flex;
    flex-direction: row;
    height: 50px;
}

.main-product-details-section {
    background-color: white;
    width: 100%; /* take the full width */
    display: flex;
    flex: 1;
    flex-direction: row;
}

.goBackButton {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px; /* Space around the image */
}

.goBackButton img {
    width: 30px; /* Set a size for the images */
    height: 30px;
}

.goBackButton:hover {
    background-color: #d0d0d0;  /* Slightly darker background on hover for feedback */
}

#productNameDisplay {
    margin: 0; /* Remove default margin */
    padding-left: 20px;
    padding-top: 6px;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 700;
    /* Any other specific styles you want for the title */
}


.product-information-section{
    display: flex;
    flex: 46%;
    flex-direction: row;
}

.product-image-section {
    display: flex;
    flex: 30%;
    padding-top: 30%;
    padding-left: 5%;
}

.product-details-section {
    display: flex;
    flex: 70%;
    padding-top: 23%;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
}

.product-analysis-section{
    display: flex;
    flex: 54%;
    background-color: white;
    flex-direction: column;
}

.product-details-title {
    font-size: 24px;
    font-weight: bold;
}

.detail-label-text {
    font-size: 20px;
}

.detail-value-text {
    font-size: 20px;
    font-weight: bold;
}

.product-detail-text {
    margin-top: 5px;      /* Space at the top */
    margin-bottom: 15px;  /* Space at the bottom */
}

.toggle-buttons {
    display:flex;
    margin-left: 5%;
    margin-top: 5%;
}

.toggle-button {
    padding: 10px;
    width: 140px;
    cursor: pointer;
    background-color: #D9D9D9;
    border: 1px solide #D9D9D9;
    border-radius: 4px;
    font-size: 16px;
}

.toggle-button.active {
    background-color:#C1C1C1;
    font-size: 16px;
    font-weight: bold;
}

.content-section {
    display: none;
}

.content-section.active-content {
    display: block;
}

.date-selection {
    padding-left: 5%;
    padding-top: 6%;;
}

#salesChart {
    margin-left: 20px;
    font-weight: 200px;
}

#salesAnalysisContent {
    width: 100%;     
    height: 600px;   
    overflow-y: auto;  
}

#pieChart {
    margin-left: 20px;
    font-weight: 200px;
}

table {
    width: 90%;
    margin-top: 20px;
    margin-left: 10px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px 12px;
    text-align: left;
}